.next/
node_modules/
Dockerfile
yarn-error.log
npm-debug.log
pnpm-debug.log*
.dockerignore
.git
.gitignore
.gitattributes
README.md
.env
.env.local
.env.*.local
.eslintcache
.turbo
.turbopack
dist
build
coverage
.vscode
.idea
*.log
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.vercel
